@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}
html{
  height: 100%;
}
body{
  background-image: linear-gradient(#5c3875,#9d71bc);
  text-align: center;
  height: 100%;
}
h1{
  padding-top: 30vh;
  color: white;
  font-family: 'Charm', cursive;
  font-size: 4.5rem;
}
p{
  font-family: Montserrat-Regular, sans-serif;
  color: white;
}
